.container {
  margin: auto;
  max-width: 800px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px gray solid;
  padding: 15px;
}

.logo {
  padding: 5px;
  border: 2px blueviolet solid;
  border-radius: 5px;
}

.nav {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

.phone {
  font-size: 24px;
}

.nav-item {
  margin-right: 30px;
  font-size: 20px;
}

.title {
  text-align: center;
  padding-top: 20px;
}

.h1-text {
  display: inline-block;
  font-size: 50px;
  border-top: 2px gray solid;
  border-bottom: 4px blueviolet solid;
  border-right: 1px gray solid;
  border-left: 5px blueviolet solid;
  border-radius: 5px;
  padding: 10px 10px 15px;
  box-shadow: 2px 2px 2px gray;
}

.h2-text {
  display: inline-block;
  font-size: 35px;
  border-bottom: 4px blueviolet solid;
}

.advantages {
  display: flex;
}

.me-3 {
  margin-right: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.card {
  height: 200px;
  width: 250px;
  border-top: 2px gray solid;
  border-bottom: 4px blueviolet solid;
  border-right: 1px gray solid;
  border-left: 5px blueviolet solid;
  border-radius: 5px;
  padding: 10px 10px 15px;
  box-shadow: 2px 2px 2px gray;
}

.gallery {
  display: flex;
  border-bottom: 2px gray solid;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.photo {
  height: 200px;
  width: 180px;
  border: 1px gray solid;
  border-radius: 5px;
}

.footer {
  border-top: 2px gray solid;
  padding-top: 10px;
  margin-top: 35px;
}

.text {
  font-size: 25px;
  color: #666;
}

.phone-number {
  color: #666;
  text-decoration: none;
}

.logo-link {
  font-weight: bolder;
  color: blueviolet;
  text-decoration: none;
}

h3 {
  font-size: 24px;
}

.d-flex {
  display: flex;
}

.form {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 2px gray solid;
  border-bottom: 2px gray solid;
}

.btn {
  display: inline-block;
  width: 242px;
  height: 42px;
  border-radius: 5px;
  border: 1px gray solid;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  background-color: coral;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: orangered;
}

.form-input {
  padding-left: 15px;
  font-size: 16px;
  display: inline-block;
  width: 240px;
  height: 40px;
  color: #666;
  background-color: #fff;
  border: 1px gray solid;
  border-radius: 5px;
}
